#main {
    overflow: hidden;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin: 90px 0 0 0;
}

#sidebar {
    cursor: pointer;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vmin;
    width: 25vmin;
    border: 1px rgb(214, 214, 214) solid;
    border-radius: 10px;
    overflow: hidden;
    font-size: 2vmin;
}

#sidebar > li {
    width: 25vmin;
    height: 7.5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(214, 214, 214);
}

#sidebar > input {
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgb(214, 214, 214);
}

.centerInfo {
    height: 10vmin;
    display: flex;
    flex-direction: column;
    padding: 0 20px 0 20px;
    justify-content: center;
}

.title {
    font-size: 2.5vmin;
    margin-bottom: 1vmin;
}

.small {
    font-size: 2vmin;
}

#products {
    width: min(48vw);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.product {
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(214, 214, 214);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

.imgHolder {
    position: relative;
    height: 12vw;
    width: 18.5vw;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.addToCart {
    cursor: pointer;
    background-color: rgb(114, 123, 131);
    color: white;
    height: 4vmin;
    width: 100%;
    font-size: 1.5vmin;
}

.changeQuantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid rgb(214, 214, 214);
    border-style: solid none none none;
    font-size: 2vmin;
}

.changeQuantityButton {
    cursor: pointer;
    height: 4vmin;
    width: 4vmin;
    background-color: rgb(114, 123, 131);
    color: white;
    font-size: 2vmin;
}

@media only screen and (min-width: 1930px) {
    #main {padding: 5vmin;}
}

@media only screen and (min-width: 700px) and (max-width: 1079px) {
    #main {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 64px 0 0 0;
    }
    #sidebar {
        flex-direction: row;
        height: 15vmin;
        width: 100vw;
        border-radius: 0;
        margin-bottom: 10px;
    }
    #sidebar > li {
        width: 20vw;
        height: 156vmin;
        border: none;
        font-size: 4vmin;
        padding: 10px;
        text-align: center;
    }
    #products {
        width: 100vw;
    }
    .product {
        width: 300px;
        margin: 10px 20px 10px 20px;
    }
    .imgHolder {
        height: 150px;
        width: 300px;
    }
    .centerInfo {
        height: 15vmin;
    }
    .title {
        font-size: 4vmin;
    }
    .small {
        font-size: 3vmin;
    }
    .addToCart,
    .changeQuantity {
        height: 7.5vmin;
        font-size: 2.5vmin;
    }
    .changeQuantityButton {
        height: 7.5vmin;
        width: 7.5vmin;
        font-size: 4vmin;
    }
}

@media only screen and (max-width: 699px) {
    #main {
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin: 64px 0 0 0;
    }
    #sidebar {
        flex-direction: row;
        height: 15vmin;
        width: 100vw;
        border-radius: 0;
        margin-bottom: 10px;
    }
    #sidebar > li {
        width: 20vw;
        height: 156vmin;
        border: none;
        font-size: 4vmin;
        padding: 10px;
        text-align: center;
    }
    #products {
        width: 100vw;
    }
    .product {
        width: 300px;
        margin: 10px 20px 10px 20px;
    }
    .imgHolder {
        height: 150px;
        width: 300px;
    }
    .centerInfo {
        height: 20vmin;
    }
    .title {
        font-size: 6vmin;
    }
    .small {
        font-size: 4vmin;
    }
    .addToCart,
    .changeQuantity {
        height: 10vmin;
        font-size: 4vmin;
    }
    .changeQuantityButton {
        height: 10vmin;
        width: 10vmin;
        font-size: 4vmin;
    }
    
}